<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <h1>Uploaded Files</h1>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name (checksum)</th>
          <th scope="col">Total Sum</th>
        </tr>
      </thead>
      <tbody>
        <% @attachments.each do |attachment| %>
          <tr>
            <td><%= attachment.id %></td>
            <td><%= attachment.name %></td>
            <td><%= attachment.lines.sum(:total) %></td>
            <td><%= link_to 'View List', attachment_line_list_path(attachment), class: "btn btn-primary" %></td>
            <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure? You\'ll destroy all data from this file' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-2"></div>
    <div class="col col-md-4"><%= link_to 'Upload a new file', new_attachment_path, class: "btn btn-primary" %></div>
    <div class="col col-md-4"><%= link_to 'Back to the DataBase', lines_path, class: "btn btn-info" %></div>
  </div>
</div>
